
// Colors & Shadows for navbar, cards etc.

$lighter: #f0f0f0;
$light: #d9d9d9;
$moderate: #909090;
$dark: #555555;
$darker: #222222;

// Shadows & Borders

$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$border-light: 1px solid #d9d9d9;
$border-dark: 1px solid #696969;

// Custom colors...

$red: #ff6677;
$green: #00bd77;
$blue: #008ff5;