@import "../../styles/colors.scss";
@import "../../styles/common.scss";

.Footer{
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: $darker;
    color: $light;
    vertical-align: middle;

    .copyright{
        margin: 20px;
        display: inline-block;
    }

    .logo{
        display: inline-block;
        margin-left: 50px;
    }

}